DEBUG=False

SECRET_KEY=mysuperlongdjangosecretkey

# Use the command below to generate your FIELD_ENCRYPTION_KEY
# python -c 'from django.core.management.utils import get_random_secret_key;new_secret_key = get_random_secret_key();print(new_secret_key)'

SALT_KEY=mysuperlongmodelfieldencryptionkey

ALLOWED_HOSTS=myallowedhosts

CSRF_TRUSTED_ORIGINS=https://mytrustedorigins
